<div class="zcy-tooltip zcy-tooltip-hidden {{#if placement}}zcy-tooltip-placement-{{placement}}{{/if}}">
  <div class="zcy-tooltip-content">
    <div class="zcy-tooltip-arrow"></div>
    <div class="zcy-tooltip-inner">
      <span>{{content}}</span>
    </div>
  </div>
</div>