<div class="zcy-upload zcy-upload-select zcy-upload-select-text">
  <span tabindex="0" class="zcy-upload" role="button">
    <input type="file" accept="" style="display: none;">
    <button type="button" class="zcy-btn">
      <i class="icon-zcy icon-fujian"></i>
      <span>{{text}}</span>
    </button>
  </span>
</div>